/*! night.css classes dark viewing conditions */

body {
    background-color: #000000;
    color: #337ab7;
}

.btn-default {
    background-color: #404040;
}

.panel-default>.panel-heading {
    background-color: #404040;
}

fieldset {
   color:#808080;
}

th, td {
    padding: 5px;
    text-align: left;
}